@use '../../placeholders';
@import '../../mixins';

.projects {
  @extend %brightSection;

  h2 {
    font-family: 'Amatic SC';
    margin: 0;
    font-size: 7rem;
    line-height: 7rem;
    text-align: center;

    @include xxlScreen {
      text-align: left;
    }
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    gap: 6rem;
  }

  @include xxlScreen {
    .innerContainer section:nth-child(2n + 1) {
      flex-direction: row-reverse;
    }

    .innerContainer {
      max-width: fit-content;
    }
  }
}
