@use '../../../placeholders';
@import '../../../mixins';
@import '../../../variables';

.projectSection {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;

  @include xxlScreen {
    gap: 3rem;
    flex-direction: row;
    align-items: center;
  }

  @include xxxlScreen {
    align-items: stretch;
  }

  .description {
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    padding: 1rem;
    border-radius: 2rem;

    h3 {
      text-align: center;
      font-size: 2rem;
      margin: 1rem 0;
    }

    p {
      margin: 1rem auto;

      @include xxlScreen {
        width: 350px;
      }
    }

    .techUsed {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
      justify-content: center;
      margin: 0 auto;
      margin-top: auto;

      .techBadge {
        padding: 0.25rem;
        border-radius: 0.5rem;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.95rem;
      }

      @include xxlScreen {
        justify-content: flex-start;
        width: 350px;
      }
    }

    @include mdScreen {
      padding: 2rem;
    }

    @include xxxlScreen {
      border-radius: 1rem;
    }
  }

  .slideShowWrapper {
    box-sizing: border-box;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 25%);
    width: 100%;

    @include xxlScreen {
      min-width: 630px;
      width: 630px;
      min-height: 420px;
      height: 420px;
    }

    @include xxxlScreen {
      width: 900px;
      min-width: 900px;
      height: 600px;
      max-height: 600px;
    }

    .imgCarousel {
      min-height: 100%;
      width: 100%;
      border-radius: 1rem;
    }

    .slideInfo {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 1rem;
      transition: all 400ms ease-out;
      filter: opacity(0);
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      z-index: 3000;

      a {
        @extend %link;
        font-size: 1.5rem;
        text-shadow: 0 0 4px black;
      }
    }
  }

  .slideShowWrapper:hover {
    .slideInfo {
      filter: opacity(1);
      backdrop-filter: blur(2px) brightness(0.35) grayscale(0.5);
    }
  }

  .transitionFadeOut {
    filter: opacity(0);
    animation: fadeOut 6s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .transitionCutOut {
    filter: opacity(0);
    animation: cutOut 6s;
    animation-iteration-count: infinite;
  }

  @keyframes fadeOut {
    0% {
      filter: opacity(0);
    }
    30% {
      filter: opacity(1);
    }
    90% {
      filter: opacity(1);
    }
    100% {
      filter: opacity(0);
    }
  }

  @keyframes cutOut {
    0% {
      filter: opacity(0);
    }
    30% {
      filter: opacity(1);
    }
    99% {
      filter: opacity(1);
    }
  }
}
