@use '../../placeholders';
@import '../../variables';
@import '../../mixins';

.about {
  padding: 5rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 3rem;
  color: $bright-1;

  @include xxlScreen {
    gap: 10rem;
  }

  div {
    display: flex;
    flex-direction: column;
    h2 {
      @extend %quicksandHeader;
    }

    p {
      box-sizing: border-box;
      margin: 0;
      padding: 1rem;
      border-radius: 1rem;
      background-color: rgba(0, 0, 0, 0.3);
      width: 300px;
      line-height: 1.3rem;
      flex-grow: 1;

      @include smScreen {
        width: 350px;
      }
    }
  }

  .myImg {
    display: none;

    @include xlScreen {
      display: block;
    }
    background-color: rgba(255, 255, 255, 0.1);

    aspect-ratio: 16/28.5;
    border-radius: 0.5rem;
  }
}
