@use '../../placeholders';
@import '../../variables';
@import '../../mixins';

.about {
  @extend %lowerSection;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    @extend %lowerSectionLeftColumn;

    p {
      box-sizing: border-box;
      margin: 0;
      padding: 1rem;
      border-radius: 1rem;
      background-color: $dark-transparent;
      line-height: 1.3rem;
      flex-grow: 1;
    }
  }

  .myImg {
    display: none;

    @include xlScreen {
      display: block;
    }
    background-color: rgba(255, 255, 255, 0.1);

    aspect-ratio: 0.56;
    border-radius: 0.5rem;
  }
}
