@import '../../../mixins';
@import '../../../variables';

.projectSection {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;

  @include xxlScreen {
    gap: 3rem;
    flex-direction: row;
    align-items: center;
  }

  @include xxxlScreen {
    align-items: stretch;
  }

  .description {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 20%);
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;

    h3 {
      font-size: 2rem;
      margin: 1rem 0;
    }

    p {
      margin: auto;

      @include xxlScreen {
        width: 350px;
      }
    }

    @include mdScreen {
      padding: 2rem;
    }

    @include xxxlScreen {
      padding: 2rem;
      border-radius: 1rem;
    }
  }

  .slideShowWrapper {
    box-sizing: border-box;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 25%);
    aspect-ratio: 3/2;
    width: 100%;

    @include xxlScreen {
      min-width: 630px;
      width: 630px;
      min-height: 420px;
      height: 420px;
    }

    @include xxxlScreen {
      width: 900px;
      min-width: 900px;
      height: 600px;
      max-height: 600px;
    }
  }

  .imgCarousel {
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 1rem;
  }

  .transitionFadeOut {
    opacity: 0;
    animation: fadeOut 8s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation-delay: 4s;
  }

  .transitionCutOut {
    opacity: 0;
    animation: cutOut 8s;
    animation-iteration-count: infinite;
  }

  @keyframes fadeOut {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes cutOut {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
