@import './variables';
@import './mixins';

%link {
  box-sizing: border-box;
  color: $bright-1;
  text-decoration: none;

  hr {
    transition: width 300ms ease-out;
    margin: 0;
    width: 0;
    border: rgba(0, 0, 0, 0) solid 1px;
  }
}
%link:hover {
  hr {
    width: 100%;
    border: 1px solid $bright-1;
  }
}
%quicksandHeader {
  margin: 0 0 1rem 0;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}

%lowerSection {
  padding: 5rem;
  display: flex;
  gap: 3rem;
  color: $bright-1;
  justify-content: center;

  @include xxlScreen {
    gap: 10rem;
  }

  h2 {
    @extend %quicksandHeader;
  }
}

%lowerSectionLeftColumn {
  width: 300px;

  @include smScreen {
    width: 350px;
  }
}
